<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings />
	<system.web>
		<!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
		<trace enabled="true" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="*" />
				<!--<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
			</assemblies>
		</compilation>
		<!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
				-->
		<authentication mode="Windows" />
		<!--<identity impersonate="true" userName="pgw\lynxAPDCOM" password="Complus1"/>  -->
		<identity impersonate="true" userName="pgw\lynxapdprdcom" password="squirrel$55"/>
				<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
		<webServices>
			<soapExtensionImporterTypes>
				<!--<add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
			</soapExtensionImporterTypes>
			<!--<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
		</webServices>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
		-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
	</system.webServer>
	<system.serviceModel>
    <diagnostics>
      <messageLogging maxMessagesToLog="30000"
              logEntireMessage="true"
              logMessagesAtServiceLevel="true"
              logMalformedMessages="true"
              logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>
		<bindings>
			<basicHttpBinding>				
				<!-- ================================================================= -->
				<!-- Bear River Bindings -->
				<binding name="SearchPoliciesPort" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="25000" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="SearchPoliciesPort1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="25000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!-- ================================================================= -->
				<!-- Elephant Bindings -->
				<binding name="BasicHttpBinding_Elephant_IClaimServices" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					bypassProxyOnLocal="false"  hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
					allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />          
					<!--<security mode="Transport">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
							algorithmSuite="Default" establishSecurityContext="true" />
					</security>-->
				</binding>
				<!-- ================================================================= -->
				<!-- QBE Binding -->

				<binding name="PolicySummaryRequest2" closeTimeout="00:01:00" openTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="2641960" maxBufferPoolSize="524288" maxReceivedMessageSize="2641960"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2641960" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>        
				<!-- ================================================================= -->
				<!-- Encompass Binding -->
				<binding name="BasicHttpBinding_Encompass_IPolicySearch" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="2641960" maxBufferPoolSize="524288" maxReceivedMessageSize="2641960"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
												maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />	            
					</security>
				</binding>
				<binding name="BasicHttpBinding_Encompass_ICreateFNOL" closeTimeout="00:01:00"
										openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
										allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
										maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
										messageEncoding="Text" textEncoding="utf-8"
										useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
												maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm=""/>
					</security>
				</binding>
        <!-- ================================================================= -->
        <!-- CCC Binding -->
        <binding name="CCC_basicBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>          
        </binding>
      </basicHttpBinding>
      <customBinding >
        <binding name="CCC_CustomBinding" >
          <textMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8" />          
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false" />                      
          <httpsTransport maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" maxBufferSize="6553600"  />          
        </binding>
      </customBinding>
			<wsHttpBinding>
				<!-- ================================================================= -->
				<!-- Elephant Bindings -->

				<binding name="WSHttpBinding_Elephant_IClaimServices" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
					allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
							algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>        
				<!-- ================================================================== -->

        <!-- ================================================================= -->
        <!-- CCC Bindings -->
        <binding name="WSHttpBinding_CCC" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
					allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport />
            <message clientCredentialType="UserName" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
        <!-- ================================================================== -->
			</wsHttpBinding>     
		</bindings>
		<client>
			<!-- ================================================================== -->
			<!-- Bear River EndPoints -->
			<endpoint address="https://test-policysearch.brmutual.net/policysearch/ws/search.wsdl" binding="basicHttpBinding" bindingConfiguration="SearchPoliciesPort" contract="BearRiverWS.SearchPolicies" name="BearRiverDevelopment" />
			<endpoint address="https://test-policysearch.brmutual.net/policysearch/ws/search.wsdl" binding="basicHttpBinding" bindingConfiguration="SearchPoliciesPort" contract="BearRiverWS.SearchPolicies" name="SearchPoliciesBinding" />
			<!-- ================================================================= -->
			<!-- Elephant EndPoints -->
			<!-- Non Production -->
			<endpoint address="https://www.elephant.com/ciptest/claimservices.svc"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Elephant_IClaimServices"
					contract="ElephantAPI.IClaimServices" name="ElephantNonProduction" />
			<!--   Production-->
			<endpoint address="https://www.elephant.com/cip/claimservices.svc"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Elephant_IClaimServices"
					contract="ElephantAPI.IClaimServices" name="ElephantProduction" />
			<!-- ================================================================= -->
			<!-- QBE North America -->
			<endpoint address="https://b2bd-wm.qberegional.com/ws/WNA_TN.WS:receiveDocLitWS?WSDL"
			 binding="basicHttpBinding" bindingConfiguration="PolicySummaryRequest2"
			 contract="QBEDocLit.receiveDocLitWS_PortType" name="WNA_TN_WS_receiveDocLitWS_Binder"/>
			<!-- ================================================================= -->      
      <!-- CCC -->
      <!-- Non Production -->
      <endpoint address="https://servicesct.mycccportal.com/gateway/services/FNOLResponse?wsdl"
					binding="customBinding" bindingConfiguration="CCC_CustomBinding"
					contract="CCCws.FNOLPredictiveAnalyticsInterface" name="CCCNonProduction"/>
      <!--   Production-->
      <endpoint address="https://services.mycccportal.com/gateway/services/FNOLResponse?wsdl"
					binding="customBinding" bindingConfiguration="CCC_CustomBinding"
					contract="CCCws.FNOLPredictiveAnalyticsInterface" name="CCCProduction"/>
      <!-- ================================================================= -->
			<!-- Encompass -->
			<!-- Development -->
			<endpoint address="https://sgglext-dv.allstate.com/sg/b2b/Claims/Encompass/EncompassPLUSPolicySearch"
        behaviorConfiguration="ClientCredentialNonProduction"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Encompass_IPolicySearch"			    
				contract="IPolicySearch" name="EncompassPolicySearchDev">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sgglext-dv.allstate.com"/>
				</identity>				
			</endpoint> 
			<endpoint address="https://sgglext-dv.allstate.com/sg/b2b/Claims/Encompass/CreateFNOL"
								binding="basicHttpBinding"
				behaviorConfiguration="ClientCredentialNonProduction"
				bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
								contract="ICreateLynxFNOL" name="EncompassClaimSubmissionDev">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sgglext-dv.allstate.com"/>
				</identity>
			</endpoint>
      <endpoint address="https://sgglext-dv.allstate.com/sg/b2b/Claims/Lynx/LynxToPLUS"
               	binding="basicHttpBinding"
				        behaviorConfiguration="ClientCredentialNonProduction"
				        bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
                contract="DocProcessor" name="EncompassPDFSubmissionDev" >
        <identity>
          <certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sgglext-dv.allstate.com"/>
        </identity>
      </endpoint>      
			<!-- Stage/Testing 
				sgroext-pt.allstate.com
			-->
			<endpoint address="https://sgroext-pt.allstate.com/sg/b2b/Claims/Encompass/EncompassPLUSPolicySearch" behaviorConfiguration="ClientCredentialNonProduction"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Encompass_IPolicySearch"
				contract="IPolicySearch" name="EncompassPolicySearchNonProduction">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sgroext-pt.allstate.com"/>
				</identity>
			</endpoint>
			<endpoint address="https://sgroext-pt.allstate.com/sg/b2b/Claims/Encompass/CreateFNOL"
								binding="basicHttpBinding"
				behaviorConfiguration="ClientCredentialNonProduction"
				bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
								contract="ICreateLynxFNOL" name="EncompassClaimSubmissionNonProduction">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sgroext-pt.allstate.com"/>
				</identity>
			</endpoint>
      <endpoint address="https://sgroext-pt.allstate.com/sg/b2b/Claims/Lynx/LynxToPLUS"
               	binding="basicHttpBinding"
				        behaviorConfiguration="ClientCredentialNonProduction"
				        bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
                contract="DocProcessor" name="EncompassPDFSubmissionNonProduction" >
        <identity>
          <certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sgroext-pt.allstate.com"/>
        </identity>
      </endpoint>
      <!-- Production -->
			<!-- Hudson  (Encompass Primary Production)-->
			<endpoint address="https://sb1-sgglext-pd.allstate.com/sg/b2b/Claims/Encompass/EncompassPLUSPolicySearch" binding="basicHttpBinding"
						behaviorConfiguration="ClientCredentialProduction"
						bindingConfiguration="BasicHttpBinding_Encompass_IPolicySearch"
						contract="IPolicySearch" name="EncompassPolicySearchProduction">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sb1-sgglext-pd.allstate.com"/>
				</identity>				
			</endpoint>
			<endpoint address="https://sb1-sgglext-pd.allstate.com/sg/b2b/Claims/Encompass/CreateFNOL"				
								binding="basicHttpBinding"
				behaviorConfiguration="ClientCredentialProduction"
				bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
								contract="ICreateLynxFNOL" name="EncompassClaimSubmissionProduction">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sb1-sgglext-pd.allstate.com"/>					
				</identity>
			</endpoint>
      <endpoint address="https://sb1-sgroext-pd.allstate.com/sg/b2b/Claims/Lynx/LynxToPLUS"
                     binding="basicHttpBinding"
                     behaviorConfiguration="ClientCredentialProduction"
                     bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
                     contract="DocProcessor" name="EncompassPDFSubmissionProduction" >
        <identity>
          <certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sb1-sgglext-pd.allstate.com"/>
        </identity>
      </endpoint>      
			<!-- Rochelle (Encompass Backup Production) -->
			<!--<endpoint address="https://sb1-sgroext-pd.allstate.com/sg/b2b/Claims/Encompass/EncompassPLUSPolicySearch" binding="basicHttpBinding"
						behaviorConfiguration="ClientCredentialProduction"
						bindingConfiguration="BasicHttpBinding_Encompass_IPolicySearch"
						contract="IPolicySearch" name="EncompassPolicySearchProduction">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sb1-sgroext-pd.allstate.com"/>
				</identity>				
			</endpoint>
			<endpoint address="https://sb1-sgroext-pd.allstate.com/sg/b2b/Claims/Encompass/CreateFNOL"				
								binding="basicHttpBinding"
				behaviorConfiguration="ClientCredentialProduction"
				bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
								contract="ICreateLynxFNOL" name="EncompassClaimSubmissionProduction">
				<identity>
					<certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sb1-sgroext-pd.allstate.com"/>					
				</identity>
			</endpoint>
      <endpoint address="https://sb1-sgroext-pd.allstate.com/sg/b2b/Claims/Lynx/LynxToPLUS"
               	binding="basicHttpBinding"
				        behaviorConfiguration="ClientCredentialProduction"
				        bindingConfiguration="BasicHttpBinding_Encompass_ICreateFNOL"
                contract="DocProcessor" name="EncompassPDFSubmissionNonProduction" >
        <identity>
          <certificateReference storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="sb1-sgglext-pd.allstate.com"/>
        </identity>
      </endpoint>      -->
			
			<!-- ================================================================= -->
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ClientCredentialNonProduction">
					<clientCredentials>
						<clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" findValue="460212682EA774B20198177193788019"/>
					</clientCredentials>          
				</behavior>
				<behavior name="ClientCredentialProduction">
					<clientCredentials>
						<clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="www.lynxservices.com"/>
					</clientCredentials>
				</behavior>
        <behavior name="webhttp">
          <webHttp/>
        </behavior>
			</endpointBehaviors>      
		</behaviors>
	</system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Verbose, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="e2eTraceTest.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<microsoft.web.services3>
		<security>
		</security>
		<policy fileName="wse3policyCache.config" />
		<messaging>
			<mtom clientMode="Off" />
		</messaging>
	</microsoft.web.services3>-->
</configuration>
